#website-name {
  display: flex;
  align-items: center;
}

.title {
  font-family: $headers-font;
  color: $blue;
  font-weight: bold;

}

#pig {
  font-family: $pig-font;
  font-size: 100px;
  color: $pink;

}

#phrase-input {
  margin-top: 30px;
}

#translation{
  margin-top: 50px;
}

#phrase-output {
height: 100px;
width: 300px;
background-color: #FFF;
border: solid 1px $light-gray;
}

#term_phrase {
  width: 300px;
  p {
    font-family: $body-font;
  }
}

.phrase-submit {
  background-color: $pink;
  border-radius: 5px;

}

.footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px
}

.all_terms_link {
  color: $blue;
  text-decoration: none;
}
