#website-name {
  display: flex;
  align-items: center;
}

.title {
  font-family: $headers-font;
  color: $blue;
  font-weight: bold;

}

#pig {
  font-family: $pig-font;
  font-size: 100px;
  color: $pink;

}


#translation{
  margin-top: 50px;
}


#term_phrase {
  width: 300px;
  p {
    font-family: $body-font;
  }
}

.phrase-submit {
  background-color: $pink;
  border-radius: 5px;

}

.footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px
}

.all_terms_link {
  color: $blue;
  text-decoration: none;
}
