#website-name {
  display: flex;
  align-items: center;
}

.title {
  font-family: $headers-font;
  color: $blue;
  font-weight: bold;

}

#pig {
  font-family: $pig-font;
  font-size: 100px;
  color: $pink;

}

#phrase-input{
  margin-top: 50px;
}


.label {
  font-family: $body-font;
}

#termPhrase {
  width: 250px;
}

.phrase-submit {
  background-color: $pink;
  border-radius: 5px;
  color: $blue;
}

.refresh {
  background-color: $blue;
  border-radius: 5px;
  color: #FFF;
  margin-left: 20px;
}

.translation-body {
  font-family: $body-font;
  color: $blue;
  padding: 10px;
}

.phrase-output {
  width: 380px;
  height: 130px;
  background-color: #FFF;
  border: solid 1px $light-gray;
  margin-top: 20px;

}

.footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px
}

.all_terms_link {
  color: $blue;
  text-decoration: none;
}
