<h1>All Translations</h1>
<div>
  <% @terms.each do |term| %>
    <p> Health and Safety Term: <%= term.phrase %>
    <% if term.translation %>
      Translation: <%= term.translation.translation %>
    <% end %>
      <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, term_path(term), method: :delete, class: 'btn delete-btn' %></p>
  <% end %>
</div>

<%= link_to "new translation", root_path %>
