<div class="page-background">
  <div class="container">
  <div class="title-header">
    <div id="website-name">
      <h1 class="title">Health and Safety</h1><h1 id="pig">pigs</h1>
    </div>
    <div class="top-link">
      <%= link_to "See all translations", terms_path, class:'all_terms_link'%>
    <i class="fas fa-arrow-circle-right"></i>
    </div>
  </div>

  <div>
    <p class="body-text">Keep your pigs safe with our pig-latin health and safety keyword translator. </p>
  </div>
  <div id="phrase-input">
    <%= simple_form_for @term do |f| %>
      <%= f.input :phrase, label: 'Enter a Health and Safety Term:' %>
      <%= f.button :submit, "Translate to pig-latin", class: "btn phrase-submit" %>
    <% end %>
  </div>
  <div id="output">


  </div>

</div>
</div>

<div id="root">
</div>

