<div>

</div><h1>Health and Saftey Pig</h1>

<%= simple_form_for @term do |f| %>
  <%= f.input :phrase %>
  <%= f.button :submit, "Translate!", class: "btn btn-warning" %>
<% end %>

<%= link_to "See all translations", terms_path  %>
