<h1>Health and Saftey Pig</h1>
<div class="term-input">
  <%= form_tag new_term_path, method: :post do %>
          <div>
            <%= text_field_tag :place, nil, type: "text", placeholder: 'Where are you going?',class: "input-field", id: "address-input" %>
          </div>
          <div>
            <%= text_field_tag :days, nil, type: "number", min: "1", max: "7", placeholder: "How many days?", class: "input-field" %>
          </div>
          <div>
            <%= submit_tag 'Take Me There', class: "search-btn btn btn-warning" %>
          </div>
          <% end %>
</div>
