<h1>Health and Saftey Pig</h1>
<div class="term-input">
  <%= form_tag new_term_path, method: :post do %>
    <div>
      <%= text_field_tag :word, nil, type: "text", placeholder: 'Enter a health and safety term', class: "input-field", id: "word-input" %>
    </div>
    <div>
      <%= submit_tag 'Translate!', class: "search-btn btn btn-warning" %>
    </div>
  <% end %>
</div>
